{% extends 'layout.html' %}

{% block body %}
		<h1> About Us <h3><small>Welcome to King Edward Memorial Hospital</small></h3> </small>  </h1>

<p>
	Founded in 1926, the Seth Gordhandas Sunderdas Medical College (GSMC) and the King Edward Memorial (KEM) Hospital are amongst the foremost teaching and medical care providing institutions in India. The medical college (school) provides training to about 2000 students in undergraduate, postgraduate and superspeciality medical courses; in undergraduate and postgraduate physical and occupational therapy; Masters and PhD courses in various allied specialties. A nursing school is also maintained by these institutions.

With about 390 staff physicians and 550 resident doctors, the 1800 bedded hospital treats about 1.8 million out-patients and 85,000 in-patients annually and provides both basic care and advanced treatment facilities in all fields of medicine and surgery.

Funded mainly by the Municipal Corporation of Greater Mumbai , these institutions render yeomen service – virtually free of cost – mostly to the underprivileged sections of the society.
</p>

{% endblock %}