{% extends 'layout.html' %}



{% block body %}
	<div class="jumbotron text-center">
		<h1> Welcome to our Hospital </h1>
		<p class="lead">Don’t worry: you will be back on your feet in no time, and then you will be wishing you were off your feet again, resting!</p>
	</div>
	<table class="table table-borderless text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Departments</th>
      <th scope="col">Facilities</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Anatomy</td>
      <td>Dialysis, Renal Biopsy, Hemoperfusion,</td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Anaesthesiology</td>
      <td>Plasmafiltration/ Plasmapheresis,</td>
     
    </tr>
    <tr>
      <th scope="row">3</th>
      <td >Ayurvedic Medicine</td>
      <td>Continuous Renal Replacement Therapy</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td >Biochemistry</td>
      <td>Peritoneal Dialysis, Renal Transplants.</td>
    </tr>

  </tbody>
</table>
{% endblock %}